<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/refer.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>Catalogo Ch3</title>
</head>
<body>
    <!-- NAvbar -->
    <div class="navbar">
        <div>
            <a onclick="back()" class="arrow-left">
              <i class="fas fa-arrow-left"></i>
            </a>
        </div>
        <h1 class="refer">Categoria: <%= category[0] + category.substring(1).toLowerCase()  %></h1>   
    </div>

    <section class="container" id="products-list">
<!-- First check if there are products for that category. -->
        <% for (product of products) { %>
            <%  if (product.isAdded) { %>
            <div class="large-card" id="large-card">
                <% if (product.image.length > 1) {%>
                <div class="card-image"> 
                        <div class="slider-itens">
                        <% for (image of product.image) { %>
                            <% if (image == product.image[0]) { %>
                                <div class="item active">
                                    <img class="photo" data-src="<%= image %>" alt="">
                                </div>
                            <% } else { %>
                                <div class="item">
                                    <img class= "photo" data-src="<%= image %>" alt="">
                                </div>
                            <!--End of if -->
                            <% } %>          
                        <!-- End of for -->
                        <% } %>
                        </div>
                        <!-- Slider Controls -->
                        <div class="left-slide"><</div>
                        <div class="right-slide">></div>    
                    </div>
                <!-- End of Multiple images Product -->
                <% } else { %>
                    <div class="card-image">
                        <img class="photo" data-src="<%= product.image[0] %>" alt="Nao há Foto">
                    </div>
                    <!-- End of single image products -->
                <%  } %>           
                <div class="card-text">
                    <p><b><%= product.REFER.trim() %></b></p>
                    <p><%= product.DESCRI.trim() %></p>
                    <% if (product.pPrice) { %>
                        <b><p> P M G:  R$<%= product.pPrice  %> <% if (product.ggPrice) { %> / GG: R$<%= product.ggPrice  %> <% } %></p></b>
                    <% } else if (product.mPrice) { %>
                        <b><p>P M G: <%= product.mPrice  %> <% if (product.ggPrice) { %> / GG: <%= product.ggPrice  %> <% } %></p></b>
                    <% } else if (product.gPrice) { %>
                        <b><p>P M G: <%= product.gPrice  %> <% if (product.ggPrice) { %> / GG: <%= product.ggPrice  %> <% } %></p></b>
                    <% } %>          
                    <div class="cardButton-area">
                        <button id='details-btn'><b>Ver disponíveis</b></button>
                    </div>        
                </div>
            </div>
            <!-- End of If -->
            <% } %>
        <!-- End Of For -->
        <% } %>                
    </section>

    <script src="https://kit.fontawesome.com/1c2c2462bf.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.3.0/dist/lazyload.min.js"></script>
    <script src="/js/category.js"></script>
    <script>
        function back () {
            window.location = document.referrer
        }
      </script>

</body>
</html>