<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>Document</title>
</head>
<body>

    <section class="container" id="products-list">


      <% for (product of products) { %>
       
        <%  if (product.image.length > 0 ) { %>
        <div class="large-card" id="large-card">
            <% if (product.image.length > 1) {%>
               <div class="card-image"> 
                    <div class="slider-itens">
                    <% for (image of product.image) { %>
                        <% if (image == product.image[0]) { %>
                            <div class="item active">
                                <img class="photo" data-src="/imgs/<%= image %>" alt="">
                            </div>
                        <% } else { %>
                            <div class="item">
                                <img class= "photo" data-src="/imgs/<%= image %>" alt="">
                            </div>
                        <!--End of if -->
                        <% } %>          
                    <!-- End of for -->
                    <% } %>
                    </div>
                    <!-- Slider Controls -->
                    <div class="left-slide"><</div>
                    <div class="right-slide">></div>    
                </div>
            <!-- End of Multiple images Product -->
            <% } else { %>
                <div class="card-image">
                    <img class="photo" data-src="/imgs/<%= product.image[0] %>" alt="Nao há Foto">
                </div>
                <!-- End of single image products -->
            <%  } %>           
            <div class="card-text">
                <p><b><%= product.REFER.trim() %></b></p>
                <p><%= product.DESCRI.trim() %></p>
                <% if (product.pPrice) { %>
                    <b><p> P M G:  R$<%= product.pPrice  %> <% if (product.ggPrice) { %> / GG: R$<%= product.ggPrice  %> <% } %></p></b>
                <% } else if (product.mPrice) { %>
                    <b><p>P M G: <%= product.mPrice  %> <% if (product.ggPrice) { %> / GG: <%= product.ggPrice  %> <% } %></p></b>
                <% } else if (product.gPrice) { %>
                    <b><p>P M G: <%= product.gPrice  %> <% if (product.ggPrice) { %> / GG: <%= product.ggPrice  %> <% } %></p></b>
                <% } %>          
                <div class="cardButton-area">
                    <button id='details-btn'><b>Ver disponíveis</b></button>
                </div>        
              </div>
        </div>
        <!-- End of If -->
        <% } %>
    <!-- End Of For -->
      <% } %> 


    </section>

  
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.3.0/dist/lazyload.min.js"></script>
    
    <script src="/js/main.js"></script>

</body>
</html>