<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/1c2c2462bf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" type="text/css" href="/css/refer.css">
    <title><%= refer %> </title>
</head>
<body>


    <!-- NAvbar -->
    <nav class="navbar">
      <div>
          <a onclick="back()" class="arrow-left">
            <i class="fas fa-arrow-left"></i>
          </a>
      </div>
      <h1 class="refer"><%= products[0].REFER.trim() %> - <%=  products[0].GRUPO[0] + products[0].GRUPO.substring(1).toLowerCase()%> </h1>   
    </nav>

    <div class="message">
        <p><b>Para pedir,</b> anote a <span>referência</span>, <span>cor</span> e <span>tamanho</span> desejado e nos envie no Whats.</p> 
        <p>Se preferir nos envie um print.</p>
        <!-- <p>Nossas vendedoras ficarão felizes em te atender!</p> -->
      </h2>
    </div>


      
    <div class="container">
      <% for (product of products) { %>
        <% if (product.image && ((product.P || 0)+(product.M || 0)+(product.G || 0)+(product.GG || 0)) > 0 ) { %>
          <% product.DESCR = product.DESCR.replace(regex, "-")
        product.REFER = product.REFER.replace(regex, '-') %>
        <div class="card">  
        <div class="card-image" id="product-card">
          <img class= "photo" data-src="https://raw.githubusercontent.com/henriquechagasg/catalagoOnCh3/master/public/imgs/<%=product.image %>" alt="Este item não tem foto =/">
        </div>
        <div class ="card-text">
          <p><b>Referência: <%= product.REFER.trim() %></b></p>
          <p><%= product.DESCRI.trim()  %></p>
          <p><b>Cor: <%= product.DESCR.trim() %></b></p>
          <% if (product.pPrice) { %>
            <b><p> P M G:  R$<%= product.pPrice  %> <% if (product.ggPrice) { %> / GG: R$<%= product.ggPrice  %> <% } %></p></b>
          <% } else if (product.mPrice) { %>
              <b><p>P M G: <%= product.mPrice  %> <% if (product.ggPrice) { %> / GG: <%= product.ggPrice  %> <% } %></p></b>
          <% } else if (product.gPrice) { %>
              <b><p>P M G: <%= product.gPrice  %> <% if (product.ggPrice) { %> / GG: <%= product.ggPrice  %> <% } %></p></b>
          <% } %>
          <p>Tamanhos disponíveis:</p>
          <section class="quantity-cards">
            <% if (product.P > 0) { %> 
            <div class="size-cards">
              <b>P</b> 
            </div>
            <% } %>
            <% if (product.M > 0) { %> 
            <div class="size-cards">
              <b>M</b> 
            </div>
            <% } %>
            <% if (product.G > 0) { %> 
            <div class="size-cards">
              <b>G</b> 
            </div>
            <% } %>
            <% if (product.GG > 0) { %> 
            <div class="size-cards">
              <b>GG</b> 
            </div>
            <% } %>  
          </section>
            
        </div>

      </div>
        <!-- End of If  -->
        <% } %>
      <!-- End of For -->
      <% } %>
    </div>


  <!-- Card para imagens: -->
    
 
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.3.0/dist/lazyload.min.js"></script>   
    <script>
      const modal = document.querySelector("#orders-modal")
      function back () {
          window.history.back()

      }
      function showModal () {
        modal.classList.add("show")
      }
      function closeModal () {
        modal.classList.remove("show")
      }
    </script>
    <script src="/js/home-refer.js"></script>
</body>
</html>