<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/1c2c2462bf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" type="text/css" href="/css/refer.css">
    <title>Document</title>
</head>
<body>

    <!-- NAvbar -->
    <div class="navbar">
      <div>
          <a onclick="back()" class="arrow-left">
            <i class="fas fa-arrow-left"></i>
          </a>
      </div>
      <h1 class="refer"><%= products[0].REFER.trim() %> - <%=  products[0].GRUPO[0] + products[0].GRUPO.substring(1).toLowerCase()%> </h1>   
    </div>

    <div class="message">
        <p><b>Para pedir,</b> anote a <span>referêcia</span>, <span>cor</span> e <span>tamanho</span> desejado e nos envie no Whats.</p> 
        <p>Se preferir nos envie um print.</p>
        <!-- <p>Nossas vendedoras ficarão felizes em te atender!</p> -->
      </h2>
    </div>


      <% if (orders.length > 0) { %> 
      
      <div class="container">
        <% for (product of products) { %>
        
          <% let productPrice = prices.filter((product1) => {
            return product1.REFER.trim() == product.REFER.trim()
          })
          %>
        
          <!-- My Logic  -->

        <% product.DESCR = product.DESCR.replace(regex, "-")
          product.REFER = product.REFER.replace(regex, '-')
          let varOrder = orders.filter((product2) => {
            return product2.DESCR.trim() == product.DESCR.trim()
          })
          %>
          
          
        <div class="card" id="product-card">
          <div class="card-image">
            <% let imgName = `${product.REFER.trim()}&${product.DESCR.trim()}`
              console.log(imgName + '.jpg')
              if (filenames.includes(imgName + '.jpg') || filenames.includes(imgName + '.jpeg')) { %>
              <img src="/imgs/<%=product.REFER.trim()%>&<%=product.DESCR.trim()%>.jpg" alt="Este item nao tem foto =/">
            <% } else { %>
              <div>None</div>
            <% } %>
          </div>
            <div class="card-text">
              <p><b>Referencia: <%= product.REFER.trim() %></b></p>
              <p><%= product.DESCRI.trim()  %> </p>
              <p><b>Cor: <%= product.DESCR.trim() %></b></p>
              <% if (productPrice[0].P) { %>
                <b><p>PREÇO: P M G -  R$<%= productPrice[0].P  %> <% if (productPrice[0].GG) { %> / GG - R$<%= productPrice[0].GG  %> <% } %></p></b>
                <% } else if (productPrice[0].M) { %>
                    <b><p>PREÇO: P M G - <%= productPrice[0].M  %> <% if (productPrice[0].GG) { %> / GG - <%= productPrice[0].GG  %> <% } %></p></b>
                <% } else if (productPrice[0].G) { %>
                    <b><p>PREÇO: P M G - <%= productPrice[0].G  %> <% if (productPrice[0].GG) { %> / GG - <%= productPrice[0].GG  %> <% } %></p></b>
                <% } %>
              <p>Tamanhos disponíveis:</p>  
              <section class="quantity-cards">
              <% if (varOrder.length > 0) { %>
                <% if ((product.P - varOrder[0].P) > 0) { %> 
                  <div class="size-cards">
                    <b>P</b> 
                  </div>
                  <% } %>
                  <% if ((product.M - varOrder[0].M) > 0) { %> 
                  <div class="size-cards">
                    <b>M</b> 
                  </div>
                  <% } %>
                  <% if ((product.G - varOrder[0].G) > 0) { %> 
                  <div class="size-cards">
                    <b>G</b> 
                  </div>
                  <% } %>
                  <% if ((product.GG - varOrder[0].GG) > 0) { %> 
                  <div class="size-cards">
                    <b>GG</b> 
                  </div>
                  <% } %>  
              <% } else { %>

                <% if (product.P) { %> 
                  <div class="size-cards">
                    <b>P</b> 
                  </div>
                  <% } %>
                  <% if (product.M) { %> 
                  <div class="size-cards">
                    <b>M</b> 
                  </div>
                  <% } %>
                  <% if (product.G) { %> 
                  <div class="size-cards">
                    <b>G</b> 
                  </div>
                  <% } %>
                  <% if (product.GG) { %> 
                  <div class="size-cards">
                    <b>GG</b> 
                  </div>
                
                  <% } %>   
                  
                  <% } %>   
              </section>
                
            </div>
          </div>
          <% } %>
        </div>
     </div>




      <% } else { %>
          <div class="container">
            <% for (product of products) { %>

              <% let productPrice = prices.filter((product1) => {
                return product1.REFER.trim() == product.REFER.trim()
              })
              %>
              

            <% product.DESCR = product.DESCR.replace(regex, "-")
              product.REFER = product.REFER.replace(regex, '-') %>  
            <div class="card" id="product-card">
              <div class="card-image">
                <% 
                let imgName = `${product.REFER.trim()}&${product.DESCR.trim()}`
                if (filenames.includes(imgName + '.jpg') || filenames.includes(imgName + '.jpeg')) { %>
                  <img src="/imgs/<%=product.REFER.trim()%>&<%=product.DESCR.trim()%>.jpg" alt="Este item nao tem foto =/">
                <% } else { %>
                  <div>None</div>
                <% } %>      
              </div>
                <div class="card-text">
                  <p><b>Referência: <%= product.REFER.trim() %></b></p>
                  <p><%= product.DESCRI.trim()  %></p>
                  <p><b>Cor: <%= product.DESCR.trim() %></b></p>
                  <% if (productPrice[0].P) { %>
                    <b><p>PREÇO: P M G -  R$<%= productPrice[0].P  %> <% if (productPrice[0].GG) { %> / GG - R$<%= productPrice[0].GG  %> <% } %></p></b>
                  <% } else if (productPrice[0].M) { %>
                      <b><p>PREÇO: P M G - <%= productPrice[0].M  %> <% if (productPrice[0].GG) { %> / GG - <%= productPrice[0].GG  %> <% } %></p></b>
                  <% } else if (productPrice[0].G) { %>
                      <b><p>PREÇO: P M G - <%= productPrice[0].G  %> <% if (productPrice[0].GG) { %> / GG - <%= productPrice[0].GG  %> <% } %></p></b>
                  <% } %>
                  <p>Tamanhos disponíveis:</p>  
                  <section class="quantity-cards">
                    <% if (product.P) { %> 
                    <div class="size-cards">
                      <b>P</b> 
                    </div>
                    <% } %>
                    <% if (product.M) { %> 
                    <div class="size-cards">
                      <b>M</b> 
                    </div>
                    <% } %>
                    <% if (product.G) { %> 
                    <div class="size-cards">
                      <b>G</b> 
                    </div>
                    <% } %>
                    <% if (product.GG) { %> 
                    <div class="size-cards">
                      <b>GG</b> 
                    </div>
                    <% } %>  
                    
      
                  </section>
  
                </div>
              </div>
              <% } %>
            </div>
         </div>
          
      <% } %>   

      
  

  <!-- Card para imagens: -->
    
 
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.3.0/dist/lazyload.min.js"></script>   
    <script>
      const modal = document.querySelector("#orders-modal")
      function back () {
          window.history.back()

      }
      function showModal () {
        modal.classList.add("show")
      }
      function closeModal () {
        modal.classList.remove("show")
      }
    </script>
    <script src="/js/main.js"></script>
</body>
</html>